/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

/* Navigation Bar */

.kr-logo {
  width: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.navbar-list {
  display: flex;
  list-style: none;

  gap: 20px;
}

.navbar-list-items {
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
}

.nav-links {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.nav-links:hover {
  background-color: rgb(209, 209, 209);
  padding: 8px;
  border-radius: 7px;
}

.active-link {
  border-radius: 7px;
  padding: 8px;
  color: rgb(255, 112, 136);
  text-decoration: none;
}

.hamburger-menu {
  display: none;
}

/* Hero Section */

.hero-section {
  display: flex;
  background-image:
    linear-gradient(
      to left,
      transparent 20%,
      rgba(255, 255, 255, 0.103),
      rgba(255, 255, 255, 0.473),
      rgb(255, 255, 255)
    ),
    url("/public/images/heroimg.png");
  background-size: cover;
  height: 600px;
}

.hero-section-text-container {
  display: flex;
  flex-direction: column;
  font-family: "Fira Sans", sans-serif;
  width: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
}

.hero-header {
  font-size: 60px;
  width: 75%;
  font-weight: 400;
  margin-bottom: 1rem;
  font-family: "PT Serif", serif;
}

.hero-text {
  width: 63%;
  line-height: 25px;
}

.hero-btn {
  margin-top: 2rem;
  width: 40%;
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  background-color: rgb(255, 116, 139);
  color: white;
}

.hero-arrow {
  padding-left: 0.4rem;
}

.hero-list-item {
  list-style: none;
  padding: 0 0.4rem;
  font-weight: 700;
}

.hero-list {
  display: flex;
  margin-top: 1rem;
}

.pink {
  color: rgb(255, 112, 136);
}

.green {
  color: rgb(0, 63, 0);
}

/* Why Choose Section */
.why-choose-us-section {
  background-color: rgb(237, 247, 237);
}

.why-choose-text-container {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
}

.why-choose-sub-header {
  margin-bottom: 1rem;
}

.why-choose-main-header {
  font-size: 30px;
}

.why-choose-description {
  color: rgb(90, 90, 90);
  width: 50%;
  margin: 1rem auto;
}

.grey {
  color: rgb(90, 90, 90);
}

.why-choose-grid-item {
  background-color: white;
  border-radius: 8px;
}

.fonticonwhy {
  margin: 1rem;
  font-size: 24px;
  background-color: rgb(226, 245, 226);
  padding: 8px;
  border-radius: 10px;
}

.why-choose-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
}

.item-desc {
  margin: 1rem;
  font-size: 14px;
  line-height: 25px;
}

.divide-heart-container::before {
  content: "";
  display: inline-block;
  width: 7%;
  height: 1px;
  background-color: rgb(255, 134, 154);
  vertical-align: middle;
  margin-right: 10px;
}

.divide-heart-container::after {
  content: "";
  display: inline-block;
  width: 7%;
  height: 1px;
  background-color: rgb(255, 134, 154);
  vertical-align: middle;
  margin-left: 10px;
}

.lastwhyicon {
  padding: 0 3px;
}

.divide-heart-container {
  text-align: center;
  margin-top: 2rem;
}

.last-why-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.last-why-list-item {
  padding: 0 0.4rem;
}

.small {
  font-size: 10px;
}

/* Footer */
.footer-container {
  display: flex;
  align-items: top;
  font-family: "Fira Sans", sans-serif;
}
.footerone {
  flex: 1;
}
.footertwo {
  flex: 1;
}
.footerthree {
  flex: 1;
}
.footerfour {
  flex: 1;
}

.footer-location {
  display: flex;
  width: 70%;
  padding-bottom: 1rem;
  align-items: center;
  column-gap: 10px;
}

.footer-link-list {
  list-style: none;
}

.footer-header {
  color: rgb(0, 87, 0);
  margin: 1rem 0;
}

.footer-socials-list {
  display: flex;
  list-style: none;
}

.social-list-item {
  font-size: 28px;
  color: rgb(0, 94, 0);
}

.solid-line {
  margin-right: 1rem;
}

.link-item {
  margin-bottom: 0.7rem;
}

/* Mobile Response */

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1.5rem 0;
    border-bottom: 2px solid grey;
    background-color: white;
  }

  .navbar-list-items {
    padding: 0.4rem 0;
  }

  .navbar-container {
    margin: 0 0.4rem;
  }
  .hero-section-text-container {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
    width: 90%;
    margin-top: 2rem;
    margin-left: 2rem;
  }

  .hero-header {
    font-size: 30px;
    width: 100%;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .hero-section {
    height: 400px;
  }

  .hero-btn {
    font-size: 13px;
    margin-top: 1rem;
  }
  .hero-text {
    font-size: 13px;
    width: 90%;
    font-weight: 500;
    line-height: 16px;
  }

  .why-choose-grid-container {
    grid-template-columns: auto;
  }

  .why-choose-description {
    width: 80%;
  }
}
