/* Global Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.4rem 0;
}

/* Navigation Bar */

.kr-logo {
  width: 100px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  display: flex;
  list-style: none;

  gap: 20px;
}

.navbar-list-items {
  font-family: "Fira Sans", sans-serif;
  font-size: larger;
}

.nav-links {
  text-decoration: none;
  color: rgb(90, 90, 90);
}

.nav-links:hover {
  background-color: rgb(209, 209, 209);
  padding: 8px;
  border-radius: 7px;
}

.active-link {
  background-color: rgb(185, 231, 185);
  border-radius: 7px;
  padding: 8px;
  color: rgb(0, 63, 0);
  text-decoration: none;
}

.hamburger-menu {
  display: none;
}

/* Hero Section */

.hero-section {
  display: flex;
}

.hero-img {
  mask-image: linear-gradient(to right, transparent 0%, black 40%);
  width: 100%;
}

.hero-img-container {
  flex: 1;
}

.hero-section-text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: "Fira Sans", sans-serif;
  width: 50%;
}

.hero-header {
  font-size: 60px;
  width: 75%;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-text {
  width: 63%;
  line-height: 25px;
}

.hero-btn {
  margin-top: 2rem;
  width: 30%;
  border-radius: 16px;
  border: none;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  background-color: rgb(255, 116, 139);
  color: white;
}

/* Mobile Response */

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .navbar-list {
    display: none;
  }

  .navbar-list.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 1.5rem 0;
    border-bottom: 2px solid grey;
    background-color: white;
  }

  .navbar-list-items {
    padding: 0.4rem 0;
  }

  .navbar-container {
    margin: 0 0.4rem;
  }
}
